div.rating {
  position: relative;
  top: 0px;
  z-index: 3;
}

.rating-body {
  width: 100%;
  position: absolute;
}

.rating-pos {
  background-color: greenyellow;
}

.rating-neg {
  background-color: orangered;
}