main {
  background-color: #fdefdb;
  box-shadow: 35px 0px 5px #fdefdb, -35px 0px 5px #fdefdb, -35px -8px #fdefdb, 35px -8px #fdefdb;
}

.title {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-weight: bold;
  letter-spacing: 2pt;
  transform: skewX(170deg);
}

.title-cmnt {
  font-weight: normal;
}

form[name=userForm] input::placeholder {
  color: #d8d8d8;
}

.loader {
  border: 4px solid #dadada;
  border-top: 4px solid #de137a;
  border-left: 4px solid #de137a;
  border-radius: 50%;
  margin-top: 8px;
  margin-bottom: 2px;
  width: 20px;
  height: 20px;
  animation: rotating 0.55s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filtered-cmnt {
  display: none;
}

.cmnt-url {
  line-height: normal;
}

.cmnt-content {
  white-space: pre-wrap;
  line-height: 1.3em;
}

.cmnt-article {
  color: #161b63;
  font-size: 80%;
}

.cmnt-section {
  position: absolute;
  right: 3px;
  bottom: 0px;
  opacity: 0.4;
  font-size: 70%;
}

.highlightedText {
  background: yellow;
}

.card-body {
  position: relative;
}

.cmnt-rate {
  position: absolute;
  right: 3px;
  bottom: 0px;
  font-size: 70%;
  font-weight: bold;
}

.cmnt-rate-pos {
  color: #18b92e;
}

.cmnt-rate-neg {
  color: #e01212;
}