.loader {
  border: 8px solid #dadada;
  border-top: 8px solid #de137a;
  border-left: 8px solid #de137a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.55s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  text-align: center;
  font-size: 0.8em;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 45px;
  width: 100%;
  background: #CCC;
}