<main>
  <h3 class="d-md-none text-center py-1 title">derStandard.at
    <span class="title-cmnt">comments</span>
  </h3>
  <h2 class="d-none d-md-block text-center pb-2 title">derStandard.at
    <span class="title-cmnt">comments</span>
  </h2>

  <form name="userForm" class="offset-0 pb-0">
    <div class="form-row">
      <div class="col-md-2 col-sm-3 col-8">
        <input id="userId-small" type="tel" pattern="[0-9]{1,8}" maxlength="8"
               class="form-control form-control-sm d-none d-md-block text-center"
               placeholder="user ID" ng-model="model.userId" required="required" />
        <input id="userId-large" type="tel" pattern="[0-9]{1,8}" maxlength="8"
               class="form-control d-md-none text-center" placeholder="user ID"
               ng-model="model.userId" required="required" />
      </div>

      <div class="col-md-2 col-sm-2 col-4">
        <button id="searchBtn-small" type="submit" class="btn btn-secondary btn-sm d-none d-md-block col-12"
                ng-click="search()" ng-disabled="userForm.$invalid">search...</button>
        <button id="searchBtn-large" type="submit" class="btn btn-secondary d-md-none col-12"
                ng-click="search()" ng-disabled="userForm.$invalid">search...</button>
      </div>

      <div class="col mt-sm-0 my-1 text-left">
        <div ng-if="model.loading">
          <div class="loader offset-5 float-left"></div>
        </div>

        <div ng-if="model.errorMessage">
          <label id="errorMessage-small" class="form-control-plaintext form-control-sm d-none d-md-block"
                 ng-bind="model.errorMessage"></label>
          <label id="errorMessage-large" class="form-control-plaintext d-md-none text-center"
                 ng-bind="model.errorMessage"></label>
        </div>

        <div ng-if="model.content.userName">
          <label id="userName-small" class="form-control-plaintext form-control-sm d-none d-md-block"
                 ng-bind="model.content.userName"></label>
          <label id="userName-large" class="form-control-plaintext d-md-none"
                 ng-bind="model.content.userName"></label>
        </div>
      </div>

      <div class="col-1 small mt-sm-0 mt-1">
        <div class="float-right text-center" ng-if="model.content">
          <small class="col">Karma</small>
          <karma-points class="text-nowrap" postings="model.content.postings"></karma-points>
        </div>
      </div>

      <div class="col-md-3 d-none d-md-block mt-sm-0 mt-2">
        <input id="filter-small" type="text" formnovalidate="formnovalidate"
               class="form-control form-control-sm" placeholder="filter..."
               ng-model="model.filter" onkeydown="if (event.keyCode === 13) { return false; }"
               disabled />
      </div>
    </div>

    <div class="form-row">
      <div class="col pt-md-0 pt-sm-2 pt-0">
        <input id="filter-large" type="text" formnovalidate="formnovalidate"
               class="form-control d-md-none" placeholder="filter..." ng-model="model.filter"
               onkeydown="if (event.keyCode === 13) { return false; }" disabled />
      </div>
    </div>
  </form>

  <hr class="my-2" />
</main>

<postings ng-if="model.content.postings" postings="model.content.postings"
          filter="model.filter"></postings>