<form name="userForm" class="offset-lg-4">
  <div class="form-group row">
    <div class="col-sm-2">
      <label for="userId" class="sr-only">User ID</label>
      <input id="userId" type="text" class="form-control form-control-sm"
        placeholder="user ID" ng-model="model.userId" ng-pattern="/^\d{1,8}$/"
        maxlength="8" required="required" />
    </div>

    <div class="col-sm-2">
      <button type="submit" class="btn btn-outline-dark btn-sm col-sm-12"
        ng-click="search()" ng-disabled="userForm.$invalid">search...</button>
    </div>

    <div class="col-sm-7">
      <label class="loader mb-0" ng-if="model.loading"></label>
      <label id="errorMessage" class="form-control-plaintext form-control-sm"
        ng-if="model.errorMessage">{{ model.errorMessage }}</label>
      <label id="userName" class="form-control-plaintext form-control-sm">
        {{model.content.userName }}
      </label>
    </div>
  </div>
</form>

<hr>

<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 p-1" ng-repeat="posting in model.content.postings">
    <div class="card cmnt-box rounded-0">
      <a class="card-body cmnt-url text-dark p-2" ng-href="{{ posting.url }}"
        target="_blank">
        <strong class="card-title cmnt-title mb-1">{{ posting.title }}</strong>
        <p class="card-text cmnt-content text-justify small">{{ posting.content
          }}</p>
      </a>
      <a class="card-footer cmnt-article" ng-href="{{ posting.article.url }}"
        target="_blank">
        {{ posting.article.title }}
      </a>
    </div>
  </div>
</div>