<main>
  <h3 class="d-md-none text-center py-1 title">derStandard.at
    <span class="title-cmnt">comments</span>
  </h3>
  <h2 class="d-none d-md-block text-center pb-2 title">derStandard.at
    <span class="title-cmnt">comments</span>
  </h2>

  <form name="userForm" class="offset-lg-1 offset-0 pb-0">
    <div class="form-row">
      <div class="col-md-2 col-sm-3">
        <input id="userId-small" type="tel" pattern="[0-9]{1,8}" maxlength="8"
               class="form-control form-control-sm d-none d-md-block text-center"
               placeholder="user ID" ng-model="model.userId" required="required" />
        <input id="userId-large" type="tel" pattern="[0-9]{1,8}" maxlength="8"
               class="form-control d-md-none text-center" placeholder="user ID"
               ng-model="model.userId" required="required" />
      </div>

      <div class="col-md-2 col-sm-2 mt-sm-0 mt-2">
        <button id="searchBtn-small" type="submit" class="btn btn-secondary btn-sm d-none d-md-block col-12"
                ng-click="search()" ng-disabled="userForm.$invalid">search...</button>
        <button id="searchBtn-large" type="submit" class="btn btn-secondary d-md-none offset-sm-0 offset-4 col-sm-12 col-4"
                ng-click="search()" ng-disabled="userForm.$invalid">search...</button>
      </div>

      <div class="col-md-4 col-sm mt-sm-0 mt-2 text-center">
        <div ng-if="model.loading">
          <div class="loader offset-5 float-left"></div>
        </div>

        <div ng-if="model.errorMessage">
          <label id="errorMessage-small" class="form-control-plaintext form-control-sm d-none d-md-block"
                 ng-bind="model.errorMessage"></label>
          <label id="errorMessage-large" class="form-control-plaintext d-md-none text-center"
                 ng-bind="model.errorMessage"></label>
        </div>

        <div ng-if="model.content.userName">
          <label id="userName-small" class="form-control-plaintext form-control-sm d-none d-md-block"
                 ng-bind="model.content.userName"></label>
          <label id="userName-large" class="form-control-plaintext d-md-none text-center"
                 ng-bind="model.content.userName"></label>
        </div>
      </div>

      <div class="col-md-4 d-none d-md-block mt-sm-0 mt-2">
        <input id="filter-small" type="text" formnovalidate="formnovalidate"
               class="form-control form-control-sm" placeholder="filter..."
               ng-model="model.filter" onkeydown="if (event.keyCode === 13) { return false; }"
               disabled />
      </div>
    </div>

    <div class="form-row">
      <div class="col pt-md-0 pt-sm-2 pt-0">
        <input id="filter-large" type="text" formnovalidate="formnovalidate"
               class="form-control d-md-none" placeholder="filter..." ng-model="model.filter"
               onkeydown="if (event.keyCode === 13) { return false; }" disabled />
      </div>
    </div>
  </form>

  <hr class="my-2" />
</main>

<div class="row postings mb-5 mt-2">
  <div class="col-xl-3 col-lg-4 col-sm-6 p-1" ng-repeat="posting in model.content.postings"
       ng-class="posting.filterContent.includes(model.filter.toLowerCase()) ? '' : 'filtered-cmnt'">
    <div class="card cmnt-box rounded-0 h-100" ng-class="posting.article.section.toLowerCase()">
      <a class="card-body cmnt-url text-dark p-3" target="_blank" ng-href="{{ posting.url }}">
        <strong class="card-title cmnt-title mb-1" ng-bind-html="highlight(posting.title, model.filter)"></strong>
        <small ng-if="!posting.title" class="text-muted mb-1">
          &lang;&nbsp;no title&nbsp;&rang;
        </small>
        <p class="card-text cmnt-content text-justify small" ng-bind-html="highlight(posting.content, model.filter)"></p>
      </a>
      <div class="card-footer p-3">
        <a class="cmnt-article d-block" ng-href="{{ posting.article.url }}"
           target="_blank" ng-bind-html="highlight(posting.article.title, model.filter)">
        </a>
        <small class="cmnt-section text-right" ng-bind="posting.article.section"></small>
      </div>
    </div>
  </div>
</div>