.loader {
  float: left;
  border: 6px solid #dadada;
  border-top: 6px solid #de137a;
  border-left: 6px solid #de137a;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: rotating 0.55s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#errorMessage {
  float: left;
}

.cmnt-content {
  white-space: pre-wrap;
}

.cmnt-article {
  color: #161b63;
  font-size: 75%;
}