main {
  background-color: #fdefdb;
  box-shadow: 35px 0px 5px #fdefdb, -35px 0px 5px #fdefdb, -35px -8px #fdefdb, 35px -8px #fdefdb;
}

.title {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-weight: bold;
  letter-spacing: 2pt;
  transform: skewX(170deg);
}

.title-cmnt {
  font-weight: normal;
  font-size: 70%;
}

form[name=userForm] input::placeholder {
  color: #d8d8d8;
}

.error-message {
  background-color: rgba(255, 155, 155, 0.65);
  border-radius: 0.25rem;
  border: 1px solid #aeaeae;
}

.user-message {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 0.25rem;
  border: 1px solid #aeaeae;
}

label[id='userName-small'] {
  height: auto;
}

.loader {
  border: 4px solid #dadada;
  border-top: 4px solid #de137a;
  border-left: 4px solid #de137a;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  animation: rotating 0.55s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}