<nav class="posting-pages" ng-if="model.linkbar.length > 1">
  <ul class="pagination pagination-sm justify-content-center flex-wrap mb-1">
    <li class="page-item disabled">
      <a class="page-link border-0 rounded p-1" href="#" tabindex="-1">
        <small>Pages:</small>
      </a>
    </li>
    <li class="page-item" ng-repeat="pageNum in model.linkbar" ng-class="($index + 1) === model.currentPage ? 'current': ''">
      <a class="page-link border-0 rounded py-1 px-2" href="#" onclick="return false;"
         ng-click="showPage(pageNum)">{{ pageNum }}</a>
    </li>
  </ul>
</nav>