<nav class="posting-pages" ng-if="model.linkbar.length > 1">
  <ul class="pagination pagination-sm justify-content-center flex-wrap mb-1">
    <li class="page-item disabled">
      <a class="page-link border-0 p-1" href="#" tabindex="-1">
        <small>Pages:</small>
      </a>
    </li>
    <li class="page-item" ng-repeat="link in model.linkbar" ng-class="link.isCurrent ? 'current': ''">
      <a class="page-link border-0 py-1 px-2" href="#" onclick="return false;"
         ng-click="showPage(link.ix)">{{ link.ix + 1 }}</a>
    </li>
  </ul>
</nav>