a.page-link, .page-item.disabled a.page-link {
  color: darkgreen;
  background-color: transparent;
}

a.page-link:focus {
  box-shadow: none;
}

.page-item.current .page-link {
  color: #f1fff1;
  background-color: #5a6268;
}