<page-links on-page-click="jumpTo(offset)" posting-count="model.filteredPostingsCount"
            postings-per-page="postingsPerPage">
</page-links>

<div class="row">
  <div class="col-xl-3 col-lg-4 col-sm-6 p-lg-2 p-1" ng-repeat="posting in model.visiblePostings">
    <div class="card cmnt-box h-100" ng-class="posting.article.section.toLowerCase()">
      <div class="cmnt-date float-right text-muted" ng-bind="posting.date"></div>
      <div class="card-body p-3 pb-4 pb-md-3">
        <small class="card-title cmnt-title font-weight-bold" ng-bind-html="highlight(posting.title, model.filter)"></small>
        <small ng-if="!posting.title" class="text-muted">
          &lang;&nbsp;no title&nbsp;&rang;
        </small>
        <a class="cmnt-url text-dark" target="_blank" ng-href="{{ posting.url }}">
          <p class="card-text cmnt-content text-justify small mt-1"
             ng-bind-html="highlight(posting.content, model.filter)"></p>
        </a>
        <div class="cmnt-rate float-right">
          <a id="ln-{{ posting.postingId }}" href="#" onclick="return false;"
             ng-click="posting.showRating = !posting.showRating">
            <karma-points postings="[posting]"></karma-points>
          </a>
        </div>
      </div>
      <posting-rating ng-if="posting.showRating" posting-id="{{ posting.postingId }}"></posting-rating>
      <div class="card-footer p-3">
        <a class="cmnt-article d-block" ng-href="{{ posting.article.url }}"
           target="_blank" ng-bind-html="highlight(posting.article.title, model.filter)">
        </a>
        <small class="cmnt-section text-right" ng-bind="posting.article.section"></small>
      </div>
    </div>
  </div>
</div>

<div class="row mb-5 p-lg-2 p-1">
  <button id="more-postings" ng-if="model.visibleToIx < model.filteredPostingsCount"
          ng-click="showMorePostings()" class="btn btn-secondary btn-dark col-12">
    show more postings&hellip;&nbsp;
    <small>
      ({{ model.visibleFromIx + 1 }} - {{ model.visibleToIx }} of
      {{ model.allPostings.length }})
    </small>
  </button>
</div>