div.rating {
  position: relative;
  top: 0px;
  left: .1em;
  z-index: 3;
}

.rating-body {
  width: 99%;
  position: absolute;
  font-size: 75%;
}

.rating-body ul li {
  padding: .1rem 1rem;
  border-radius: 0px;
}

.rating-body ul li:first-child {
  padding-top: .3rem;
  border-radius: 0px;
}

.rating-body ul li:last-child {
  padding-bottom: .3rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rating-group-pos {
  background-color: #c4f3bb;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rating-group-neg {
  background-color: #fcb3a7;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.rating-pos {
  background-color: inherit;
}

.rating-neg {
  background-color: inherit;
}

.rater-entry {
  color: #313d50;
}
